/terraform-manifests/private-key/
/terraform-manifests/.terraform/
/scripts/
/.idea/
/terraform-manifests/.terraform.lock.hcl
/kubernetes/kubeconfig/
/terraform-manifests/creation-time-vpc-id.txt
/terraform-manifests/my.tfplan
/terraform-manifests/terraform.tfstate
/playground/
/terraform-manifests/c1-providers.tf
/02-eks-irsa-demo-terraform-manifests/c1-providers.tf
/02-eks-irsa-demo-terraform-manifests/.terraform.lock.hcl
/02-eks-irsa-demo-terraform-manifests/.terraform/
/02-eks-irsa-demo-terraform-manifests/my.tfplan
/02-eks-irsa-demo-terraform-manifests/terraform.tfstate
